<h1>All restaurants</h1>

<div class="list-group">
  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant.name, restaurant_path(restaurant), class: "list-group-item" %>
  <% end %>
</div>
